@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using openaidemo_webapp.Shared
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Azure OpenAI Demo</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Azure Open AI with AI Search Demo</h1>
            <p class="lead">Welcome to the Azure Open AI and AI Search Demo! Explore the features of Azure Open AI and AI Search through a chat interface</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-5 shadow">
                <div class="card-body">
                    <h4 class="card-title">Open AI Chat</h4>
                    <p class="card-text">Experience the power of Azure Open AI through a chat interface. Engage in a conversation with the AI to get answers to your questions and explore various topics.</p>
                    <a href="openaichat" class="btn btn-primary">Go to Open AI Chat Page</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-5 shadow">
                <div class="card-body">
                    <h4 class="card-title">Azure AI Search</h4>
                    <p class="card-text">Explore Azure AI Search with advanced features like Vector Search, Hybrid Search, and Semantic Search. Search through your data with ease using these intelligent capabilities.</p>
                    <a href="aisearch" class="btn btn-primary">Go to Azure AI Search Page</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5 shadow">
                <div class="card-body">
                    <h4 class="card-title">Azure AI with AI Search</h4>
                    <p class="card-text">Leverage the capabilities of Azure AI and AI Search to find relevant information from a large dataset. Use the search feature to find answers and insights quickly and efficiently.</p>
                    <a href="/openaiaisearch" class="btn btn-primary">Go to Open AI and AI Search Page</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="card shadow">
                <div class="card-header text-white resources-header">
                    <h3>Resources</h3>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/pjgpetecodes/openaidemo-webapp" target="_blank" class="text-decoration-none"><i class="bi bi-github"></i> GitHub repo</a></li>
                        <li class="mb-2"><a href="https://azure.microsoft.com/en-us/products/ai-services/openai-service" target="_blank" class="text-decoration-none"><i class="bi bi-cloud"></i> Azure AI</a></li>
                        <li class="mb-2"><a href="https://azure.microsoft.com/en-us/products/ai-services/ai-search" target="_blank" class="text-decoration-none"><i class="bi bi-search"></i> Azure AI Search</a></li>
                        <li class="mb-2"><a href="https://twitter.com/pete_codes" target="_blank" class="text-decoration-none"><i class="bi bi-twitter"></i> My Twitter account (@@pete_codes)</a></li>
                        <li class="mb-2"><a href="https://www.petecodes.co.uk" target="_blank" class="text-decoration-none"><i class="bi bi-journal-text"></i> Pete Codes Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    
    //protected override async Task OnInitializedAsync()
    //{
    //    
    //}

    //public async ValueTask DisposeAsync()
    //{
    //    
    //}

}
