@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using openaidemo_webapp.Shared
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Azure OpenAI Demo</PageTitle>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Azure Open AI Chat Demo</h1>
                <p class="lead">Welcome to the Azure Open AI Chat Demo! Explore the features of Azure Open AI through a chat interface and cognitive search.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="card-title">Chat Page</h4>
                        <p class="card-text">Experience the power of Azure Open AI through a chat interface. Engage in a conversation with the AI to get answers to your questions and explore various topics.</p>
                        <a href="openaichat" class="btn btn-primary">Go to Chat Page</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="card-title">Azure AI with Cognitive Search</h4>
                        <p class="card-text">Leverage the capabilities of Azure AI and Cognitive Search to find relevant information from a large dataset. Use the search feature to find answers and insights quickly and efficiently.</p>
                        <a href="/openaicogsearch" class="btn btn-primary">Go to Cognitive Search Page</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h3>Resources</h3>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/pjgpetecodes/openaidemo-webapp" target="_blank">GitHub repo</a></li>
                <li><a href="https://azure.microsoft.com/en-us/products/ai-services/openai-service" target="_blank">Azure AI</a></li>
                <li><a href="https://azure.microsoft.com/en-us/products/ai-services/cognitive-search" target="_blank">Azure Cognitive Search</a></li>
                <li><a href="https://twitter.com/pete_codes" target="_blank">My Twitter account (@@pete_codes)</a></li>
                </ul>
            </div>
        </div>
    </div>


@code {
        
    protected override async Task OnInitializedAsync()
    {
        
    }

    public async ValueTask DisposeAsync()
    {
        
    }

}
