.ChatSourcesContent {
    max-height: 95%;
    overflow-y: auto;
}

.SourceCard {
    background-color: #f2f2f7;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .SourceCard h3 {
        margin: 0 0 0.5em;
        font-size: 1.2em;
        color: black;
    }

    .SourceCard h4 {
        margin: 0 0 1em;
        font-size: 0.9em;
        color: #6c757d;
    }

    .SourceCard h5 {
        margin: 0 0 1em;
        font-size: 0.9em;
        color: #6c757d;
    }

    .SourceCard p {
        margin: 0;
        font-size: 0.9em;
        line-height: 1.5;
    }

.SourceCardText {
    position: relative;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
    padding-right: 1em;
    color: black;
}

    .SourceCardText:after {
        content: "...";
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #f8f9fa;
        padding-left: 0.5em;
        cursor: pointer;
    }

.SourceCard.expanded .SourceCardText {
    max-height: none;
    overflow: visible;
}

    .SourceCard.expanded .SourceCardText:after {
        content: "";
    }

.LoaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
